.food_items{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    animation: fadeIn 1s;
}
.food_item_sub img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.food_info{
    padding: 10px;
}

.food_rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.food_rating p{
    font-size: 20px;
    font-weight: bold;
}

.food_rating img{
    width: 70px;
}

.add_item{
    width: 40px !important;
}
.food_counter img{
    width: 30px;
}

.food_counter p{
    /* margin-top: 10px; */
    border: none;
    height: 3px;
}

.food_item_sub{
    position: relative;
}

.food_item_sub .add_item{
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food_counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    border-radius: 50px;
    background-color: white;
}

.red-toast {
    background-color: #ff5252; /* Red background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    position: fixed; /* Fixed position to make it appear at the top */
    top: 20px; /* Distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 999; /* Ensure it's above other content */
    opacity: 1; /* Fully visible */
    transition: opacity 0.3s ease-in-out; /* Fade in/out effect */
}

/* Optional: Add hover effect */
.red-toast:hover {
    opacity: 0.9; /* Reduce opacity on hover */
}
