.cart_display{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}

.cart_items{
 max-width: 85%;
 margin-top: 2%;
 border-radius: 50px;
 /* background-color: rgb(225, 75, 11); */
 /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
 .left_image_display img{
    border-radius: 50px;
    margin-right: 10px;
    /* width: 300px; */
 }

 .right_contents{
    color: black;
 }
 .right_contents h2{
   color: rgb(252, 8, 49);
 }
 .right_contents p{
   font-size: 16px;
   font-weight: bold;
 }
 .green_amount{
   color: green;
 }

 .right_contents button{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(250, 248, 248);
    color: red;
    font-size: 16px;
    font-weight: 800;
 }

 .cart_totals{
    display: flex;
    margin-top: 80px;
    gap: max(12vw,20px);
    justify-content: space-between;
 }
 .cart_total_sub{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .cart_total_details{
    display: flex;
    justify-content: space-between;

 }
 .cart_total_sub button{
    border: none;
    padding: 10px 0px;
    background-color: tomato;
    width: max(15vw,200px);
    border-radius: 5px;
 }

 .cartitem_promocode {
   margin-bottom: 20px;
 }
 
 .cartitem_promocode p {
   font-size: 16px;
   margin-bottom: 10px;
 }
 
 .cartitem_promobox {
   display: flex;
   align-items: center;
 }
 
 .cartitem_promobox input[type="text"] {
   width: 200px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   outline: none;
 }
 
 .cartitem_promobox input[type="text"]:focus {
   border-color: #da166b;
 }
 
 .cartitem_promobox button {
   width: 100px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   outline: none;
   margin: 10px;
 }
 
 .cartitem_promobox button:hover {
   background-color: #d11544;
   color: white;
 }