.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 25px;
    border: 2px solid red;
    padding: 17px;
    margin: 30px 0px;
    font-size: 15px;
    color: gray;
}

.order_items , .order_name{
    font-weight: 600;
}

.order_name{
    margin-top: 7%;
}

.order-item select{
    background-color: aliceblue;
    border: 2px solid red;
    width: max(10vw,120px);
    padding: 8px;
    outline: none
}